```
# Flutter/Dart specific
.dart_tool/
.build/
packages/
*.nib
local.properties
.keycloak/
.credo/
.dart_tool/
.firebaserc
.metadata
**/android/**
**/ios/**
**/linux/**
**/macos/**
**/windows/**
.flutter-plugins
.flutter-plugin-dependencies
.packages

# IDE
.idea/
.vscode/
*.swp
*.swo
*.tmp

# Logs
*.log
**/logs

# Environment
.env
.env.local
*.env.*

# Dependencies
pubspec.lock
**/node_modules/

# Build outputs
/build/
/dist/
```